body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    gap: 20px;
}

#btn1, #btn2, #btn3 {
    border: 1px solid black;
    background-color: lightcoral;
}



